---
layout: default
---

<div id="post-container">
  <div class="post-wide-hero {{page.uid}}-hero" style="background-color:{{page.hero-bg-color}}; text-align: center;">
  	<img src="/img/{{page.uid}}/hero.png" alt="{{page.title}}" style="max-height: 100%;max-width: 100%;" />
  </div>
  <div class="post post-wide">
    <h2>{{ page.title }}</h2>
	<ul class="meta">
		{% if page.website %}
			<li>
				<a href="{{ page.website }}" target="_blank">view site</a>
			</li>
		{% endif %}
		{% if page.github %}
			<li>
				<a href="{{ page.github }}" target="_blank">github</a>
			</li>
		{% endif %}
		{% if page.worktype %}
			<li>
				{{ page.worktype }}
			</li>
		{% endif %}
		{% if page.date %}
			<li>
				{{ page.date | date: "%b %Y" }}
			</li>
		{% endif %}
	</ul>
    <!-- <div class="separator"></div> -->
    {{ content }}
  </div>
</div>

<a href="{{page.next.url}}" title="{{page.next.title}}" class="next-project target"></a>
<a href="{{page.previous.url}}" title="{{page.previous.title}}" class="prev-project target"></a>
